{% extends "user/templates/logged_template.html" %}

{% block title %} Kawa {% endblock %}

{% block main %}

<h1>Coffee</h1>

<div class="row row-cols-3">
    {% for coffee in coffees %}
    <div class="col" style="margin-top: 15px;">
      <div class="card">
        <div class="card-body">
          <form action="/logged_coffee" method="POST">
            <h5 class="card-title"><a href="/user/{{ coffee[0] }}">{{ coffee[1] }}</a></h5>
              <h6 class="card-text">{{ coffee[3] }}</h6>
              <p class="card-text">I am from: {{ coffee[2] }}</p>
              {% if coffee[5] == 0 %}
              <h6 class="card-text">{{ coffee[4] }} zł</h6>
              {% endif %}
              {% if coffee[5] > 0 %}
              <h6 class="card-text"><s>{{ coffee[4] }} zł</s> {{ coffee[4] - 0.01 * coffee[5] * coffee[4]}} zł</h6>
              {% endif %}
            <select class="custom-select mr-sm-2" name="amount" id="inlineFormCustomSelect">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button type="submit" class="btn btn-primary">Add to basket</button>
            <input type="hidden" name="product" value="{{ coffee[0] }}">
            <input type="hidden" name="price" value="{{ coffee[4] - 0.01 * coffee[5] * coffee[4] }}">
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}